<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" clipped fixed app>
      <v-list>
        <v-list-tile
          v-for="(item, i) in sideMenu"
          :key="i"
          class="active"
          @click="selectSpace(item)"
          :to='item.path'
        >
         <v-list-tile-action>
            <v-icon v-html="'folder'"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="showNoContentPlaceholder">
          <v-list-tile-content>
            <v-list-tile-title> No Spaces are available</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="isLoading">
          <v-list-tile-content>
            <v-layout align-center justify-center fill-height>
            <v-progress-circular indeterminate color="primary" ></v-progress-circular>
            </v-layout>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app fixed dark clipped-left color="blue darken-3">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Space Explorer</v-toolbar-title>
    </v-toolbar>
     <v-content>
     <v-container v-if="!isLoading && sideMenu.length > 0">
       <v-layout justify-start row>
         <v-flex v-if="selectedSpace" >
          <span class="display-3 pr-2"> {{selectedSpace.title}}</span>
          <span class="headline"> Created By {{selectedSpace.createdBy.name}}</span>
         </v-flex>
        </v-layout>
        <br>
        <v-layout>
          <v-flex>
            <v-card>
              <v-card-text>
                <h1 class="font-weight-light" v-if="selectedSpace"> {{selectedSpace.description || 'No Description'}}</h1>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <br>
        <v-layout>
          <v-flex>
            <SpaceComponent :spaceId="$route.params.spaceId"/>
          </v-flex>
        </v-layout>
     </v-container>
     <v-container v-if="showNoContentPlaceholder">
       <v-layout>
         <v-flex>
          Nothing to display
         </v-flex>
       </v-layout>
     </v-container>
     <v-container v-if="isLoading">
       <v-layout align-center justify-center fill-height>
            <v-progress-circular
        indeterminate
        color="primary"
      ></v-progress-circular>
       </v-layout>
     </v-container>
      <v-snackbar
      v-model="showErrorSnackBar"
      color="error"
      :timeout="5000"
      bottom
    >
      <span v-if="errors">{{ errors.message }}</span>
      <v-btn
        dark
        flat
        @click="showErrorSnackBar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    </v-content>
  </v-app>
</template>

<script>
import App from '@/lib/appService'
import SpaceComponent from '@/components/SpaceComponent'

export default {
  components: {
    SpaceComponent
  },
  computed: {
    errors () {
      return this.$store.getters['errors']
    },
    showNoContentPlaceholder () {
      return !this.isLoading && this.sideMenu.length === 0
    }
  },
  data: () => ({
    isLoading: false,
    showErrorSnackBar: false,
    drawer: true,
    selectedSpace: null,
    sideMenu: []
  }),
  async created () {
    this.isLoading = true
    // get all the spaces
    this.sideMenu = await App.getAllSpaces()

    if (this.sideMenu.length > 0) {
      // update the url with the first space id
      if (this.$route.params.spaceId) {
        this.selectedSpace = this.sideMenu.filter(
          s => s.spaceId === this.$route.params.spaceId
        )[0] // May not be feasible if there are many spaces 😬
      } else {
        // select the first space
        this.selectedSpace = this.sideMenu[0]
        this.$router.replace({
          name: 'spacePage',
          params: { spaceId: this.selectedSpace.spaceId }
        })
      }
    }
    this.isLoading = false
  },
  methods: {
    selectSpace (space) {
      this.selectedSpace = space
    }
  },
  watch: {
    errors (val, oldVal) {
      // is triggered whenever the error gets set changes
      this.showErrorSnackBar = true
    }
  }
}
</script>
