<template>
  <div>
    <v-tabs
      dark
      v-model="activeTab"
      slider-color="yellow"
    >
      <v-tab ripple @click="getSpaceEntities()" id="entries-button">
       Entries
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-data-table
                :headers="spaceEntriesHeaders"
                :items="spaceEntries"
                hide-actions
                :loading="loading.entries"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.title }}</td>
                    <td class="text-xs-right">{{ props.item.summary }}</td>
                    <td class="text-xs-right">{{ props.item.createdBy.name }}</td>
                    <td class="text-xs-right">{{ props.item.updatedBy.name }}</td>
                    <td class="text-xs-right">{{ props.item.lastUpdated }}</td>
                </template>
            </v-data-table>
        </v-card>
      </v-tab-item>
      <v-tab ripple @click="getSpaceAssets()" id="assets-button">
      Assets
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-data-table
                :headers="spaceAssetHeaders"
                :items="spaceAssets"
                hide-actions
                :loading="loading.assets"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.title }}</td>
                    <td class="text-xs-right">{{ props.item.contentType }}</td>
                    <td class="text-xs-right">{{ props.item.fileName }}</td>
                    <td class="text-xs-right">{{ props.item.createdBy.name }}</td>
                    <td class="text-xs-right">{{ props.item.updatedBy.name }}</td>
                    <td class="text-xs-right">{{ props.item.lastUpdated }}</td>
                </template>
            </v-data-table>
        </v-card>
      </v-tab-item>
    </v-tabs>

  </div>
</template>

<script>
import App from '@/lib/appService'

export default {
  props: ['spaceId'],
  data () {
    return {
      activeTab: 0,
      loading: {
        entries: false,
        assets: false
      },
      spaceEntries: [],
      spaceAssets: [],
      spaceEntriesHeaders: [
        {
          text: 'Title',
          align: 'left',
          sortable: true,
          value: 'title'
        },
        { text: 'Summary', value: 'summary', align: 'right' },
        { text: 'Created By', value: 'createdBy', align: 'right' },
        { text: 'Updated By', value: 'updatedBy', align: 'right' },
        { text: 'Last Updated', value: 'lastUpdated', align: 'right' }
      ],
      spaceAssetHeaders: [
        {
          text: 'Title',
          align: 'left',
          sortable: true,
          value: 'title'
        },
        { text: 'Content Type', value: 'contentType', align: 'right' },
        { text: 'File Name', value: 'fileName', align: 'right' },
        { text: 'Created By', value: 'createdBy', align: 'right' },
        { text: 'Updated By', value: 'updatedBy', align: 'right' },
        { text: 'Last Updated', value: 'lastUpdated', align: 'right' }
      ]
    }
  },
  mounted () {
    this.getSpaceEntities()
  },
  methods: {
    async getSpaceEntities () {
      this.loading.entries = true
      this.spaceEntries = await App.getResolvedSpaceEntries(this.spaceId)
      this.loading.entries = false
    },
    async getSpaceAssets () {
      this.loading.assets = true
      this.spaceAssets = await App.getResolvedSpaceAssets(this.spaceId)
      this.loading.assets = false
    }
  },
  watch: {
    // fetch either entities or assets if the space changes
    spaceId: function () {
      if (this.activeTab === 0) {
        this.getSpaceEntities()
      } else {
        this.getSpaceAssets()
      }
    }
  }
}
</script>
